In [1]:
# Imprting dependencies
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
medical_df = pd.read_csv('../Resources/Cleaned_Dataset/clean_stroke.csv')
print(medical_df.shape)
medical_df.head(10)

(4909, 11)

,Gender,Age,Hypertension,Heart_Disease,Ever_Married,Work_Type,Residence_Type,Avg_Glucose_Lvl,BMI,Smoker,Stroke
0,Male,67,0,1,Yes,Private,Urban,228.69,36.6,Former,1
1,Male,80,0,1,Yes,Private,Rural,105.92,32.5,Never,1
2,Female,49,0,0,Yes,Private,Urban,171.23,34.4,Current,1
3,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,Never,1
4,Male,81,0,0,Yes,Private,Urban,186.21,29.0,Former,1
5,Male,74,1,1,Yes,Private,Rural,70.09,27.4,Never,1
6,Female,69,0,0,No,Private,Urban,94.39,22.8,Never,1
7,Female,78,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81,1,0,Yes,Private,Rural,80.43,29.7,Never,1
9,Female,61,0,1,Yes,Govt_job,Rural,120.46,36.8,Current,1

In [3]:
medical_df.isnull().sum()

Gender             0
Age                0
Hypertension       0
Heart_Disease      0
Ever_Married       0
Work_Type          0
Residence_Type     0
Avg_Glucose_Lvl    0
BMI                0
Smoker             0
Stroke             0
dtype: int64

In [4]:
medical_df.dtypes

Gender              object
Age                  int64
Hypertension         int64
Heart_Disease        int64
Ever_Married        object
Work_Type           object
Residence_Type      object
Avg_Glucose_Lvl    float64
BMI                float64
Smoker              object
Stroke               int64
dtype: object

In [5]:
object_columns = medical_df.dtypes[medical_df.dtypes == 'object'].index.tolist()
object_columns

['Gender', 'Ever_Married', 'Work_Type', 'Residence_Type', 'Smoker']

In [6]:
medical_df[object_columns].nunique()

Gender            3
Ever_Married      2
Work_Type         5
Residence_Type    2
Smoker            4
dtype: int64

In [8]:
medical_df['Work_Type'].value_counts()

Private          2811
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: Work_Type, dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit & transform OneHotEncoder using categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(medical_df[object_columns]))

# Add encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(object_columns)
print(encode_df.shape)
encode_df.head()

(4909, 16)

C:\Users\remem\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Gender_Female,Gender_Male,Gender_Other,Ever_Married_No,Ever_Married_Yes,Work_Type_Govt_job,Work_Type_Never_worked,Work_Type_Private,Work_Type_Self-employed,Work_Type_children,Residence_Type_Rural,Residence_Type_Urban,Smoker_Current,Smoker_Former,Smoker_Never,Smoker_Unknown
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [10]:
medical_df = medical_df.merge(encode_df, left_index=True, right_index=True).drop(object_columns, 1)
medical_df.head(10)

C:\Users\remem\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Age,Hypertension,Heart_Disease,Avg_Glucose_Lvl,BMI,Stroke,Gender_Female,Gender_Male,Gender_Other,Ever_Married_No,...,Work_Type_Never_worked,Work_Type_Private,Work_Type_Self-employed,Work_Type_children,Residence_Type_Rural,Residence_Type_Urban,Smoker_Current,Smoker_Former,Smoker_Never,Smoker_Unknown
0,67,0,1,228.69,36.6,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,80,0,1,105.92,32.5,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,49,0,0,171.23,34.4,1,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,79,1,0,174.12,24.0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,81,0,0,186.21,29.0,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5,74,1,1,70.09,27.4,1,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
6,69,0,0,94.39,22.8,1,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7,78,0,0,58.57,24.2,1,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
8,81,1,0,80.43,29.7,1,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9,61,0,1,120.46,36.8,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [11]:
medical_df.isnull().sum()

Age                        0
Hypertension               0
Heart_Disease              0
Avg_Glucose_Lvl            0
BMI                        0
Stroke                     0
Gender_Female              0
Gender_Male                0
Gender_Other               0
Ever_Married_No            0
Ever_Married_Yes           0
Work_Type_Govt_job         0
Work_Type_Never_worked     0
Work_Type_Private          0
Work_Type_Self-employed    0
Work_Type_children         0
Residence_Type_Rural       0
Residence_Type_Urban       0
Smoker_Current             0
Smoker_Former              0
Smoker_Never               0
Smoker_Unknown             0
dtype: int64

In [12]:
medical_df.dtypes

Age                          int64
Hypertension                 int64
Heart_Disease                int64
Avg_Glucose_Lvl            float64
BMI                        float64
Stroke                       int64
Gender_Female              float64
Gender_Male                float64
Gender_Other               float64
Ever_Married_No            float64
Ever_Married_Yes           float64
Work_Type_Govt_job         float64
Work_Type_Never_worked     float64
Work_Type_Private          float64
Work_Type_Self-employed    float64
Work_Type_children         float64
Residence_Type_Rural       float64
Residence_Type_Urban       float64
Smoker_Current             float64
Smoker_Former              float64
Smoker_Never               float64
Smoker_Unknown             float64
dtype: object

In [13]:
# Split preprocessed data into features & target arrays
y = medical_df['Stroke'].values
X = medical_df.drop(['Stroke'], 1).values

# Split into training & testing data sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, stratify=y)

C:\Users\remem\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# Create a random forest classifier model
rf_model = RandomForestClassifier(n_estimators=128, random_state=2)

# Fit the random forest classifier model
rf_model = rf_model.fit(X_train, y_train)

# Evaluate the random forest classifier model
y_pred = rf_model.predict(X_test)
print(f' Random forest predictive accuracy: {accuracy_score(y_test, y_pred):.3f}')

 Random forest predictive accuracy: 0.958